# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.vscode/
.idea/
*.swp
*.swo

# Firebase
.firebase/

# optional server build
server/dist/
functions/lib/